/* hoja de stylo*/



#navegadora{

background: radial-gradient( #9e9999,  #080808);
margin-top: 0px;
padding-top:0px;
padding-bottom: 0px;
}

#test{
background-color: transparent;
}

a.dropbtn{
  color: #f7f7fa;
}

#boton-servicio{

  margin-top: 16px;
  margin-right: 5px;
  color: #66686b;
  font-size: small;
}

#boton-contacto{
  margin-top: 8px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background:radial-gradient( #9e9999, #080808);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #8f8989;}

.dropdown:hover .dropdown-content {
  display: block;
}

.header-top{
  
  background: radial-gradient(#908f8e, #080808);
  
}

#footers{
  background: radial-gradient(#908f8e, #080808);
  text:white;
}

#text-navbar{
  color: white;
  font-size: small;
}

#text-navbar:hover{
  color: #2b87b1;

} 

#text-footer{
  color: white;
}


/** contacto  */

#contasto{
 /*background-image: url("../img/comercio-internacional.png");*/
 background-repeat: no-repeat;
 background-size: cover;
}


.hero {
	background: white;
	min-height: 15vh;
	display: flex;
	align-items: center;
  height: 200px;
}

.textors {
	width: 100%;
	color: transparent;
	text-align: center;
	text-transform: uppercase;
	font-size: 120px;
	font-weight: bold;

	background-image: url('../img/fotoportada-preguntas/preguntas.jpg');
	background-size: cover;
	background-position-y: 700px;
	
	background-clip: text;
	-webkit-background-clip: text;

	-webkit-text-fill-color: transparent;
}

/** end contacto */

.headcont{
  font-size: 12px ;
}


#iconors{
  margin: 5px;
}


.card h-100{
  width: 150px;
  height: 150px;
}

#iconos{
  width: 10px;
  height: 10px;
}

/* servicios cajas **/
.barra-home a {
  height: 154px;
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--blanco);
  background-color: var(--color-header);
  font-size: 14px;
  text-align: center;
  font-family: 'calibri';
}


element.style {
  animation-duration: 1s;
  opacity: 1;
}

@font-face {
  font-family: 'calibri';
  src: url(../fonts/calibri.ttf);
}
@font-face {
  font-family: 'tahoma';
  src: url(../fonts/tahoma.ttf);
}
@font-face {
  font-family: 'segoe';
  src: url(../fonts/segoe.ttf);
}
.anclajeMenu
{
  position: absolute;
  margin-top: -150px;
}
:root {
  --blanco: #fff;
  --color-header: #6E6E6D;
  --color-titulo: #fbf6f6;
  --color-texto: #fbf9f9;
  --amarillo: #2b87b1;
  --negro: #000;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
}
label {
  margin-bottom: 0 !important;
}
p {
  margin-bottom: 0 !important;
}
textarea {
  resize: none !important;
}
button {
  cursor: pointer;
}
li {
  list-style-type: none !important;
}
h1, h2, h3, h4, h5 {
  margin-bottom: 0 !important;
}
input:focus, button:focus, textarea:focus, select:focus {
  outline: none !important;
}
li {
  cursor: pointer !important;
}
dl, ol, ul {
  margin-bottom: 0% !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}




/* barra servicios */
.barra-home {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(9,1fr);
  column-gap: 1px;
}
.barra-home a[class=barra-activa] {
  background-color: var(--amarillo) !important;
  position: relative;
}
.barra-home a[class=barra-activa]::after {
  position: absolute;
  content: '';
  background-image: url(../img/Iconos/triangulo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 35px;
  top: 99%;
  right: 0;
}
.barra-home a {
  height: 154px;
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--blanco);
  background-color: var(--color-header);
  font-size: 14px;
  text-align: center;
  font-family: 'calibri';
}
.barra-home a:last-of-type {
  background-color: #2b87b1;
}
.barra-home a:hover {
  transition: all .6s;
  transform: scale(1.05);
  color: var(--blanco);
}
.barra-home .imagen {
  height: 75px;
}
.sec-1-home {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px !important;
  display: none;
  grid-template-columns: 1.5fr 2fr;
}
.sec-1-home .texto {
  margin: 35px 0;
 /*  width: 50%; */
  padding: 50px;
}
.sec-1-home .texto:first-of-type {
  position: relative;
  border-right: 3px solid var(--amarillo);
}
.sec-1-home .texto:last-of-type {
  position: relative;
}
.sec-1-home .texto:last-of-type::after {
  position: absolute;
  content: '';
  height: 3px;
  background-color: var(--amarillo);
  bottom: 0;
  width: 20%;
  left: 0;
}
/************  *******/
/*-- carrousel  --*/

.carousel-item{
  height: 600px;
  position: relative;
}

.ccarousel-caption h1{
  position: absolute;
  margin-bottom: 30%;
}


/*-- end carrousel  --*/

/*-- preguntas-views  --*/

.consejos{
  position: relative;
  text-align: center;
  color: white;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*-- Icono footer --*/

.tucomexicon{
  background-image: url('../img/gif/tucomexlatam.com-2.gif');
  border: 1px solid black;
  height: 100px;
  border-radius: 50%;
}

